In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('pharmacy.csv', sep=';')
df

,datetime,shop,card,bonus_earned,bonus_spent,summ,summ_with_disc,doc_id
0,2021-07-13 12:56:09.000,Аптека 2,2000200195023,51,0,3400,3400,15#2002741#65938#2_29
1,2021-07-30 10:42:00.000,Аптека 2,2000200193494,57,0,747,747,15#2002972#65955#2_5
2,2021-10-11 12:55:23.000,Аптека 2,2000200199106,92,253,3077,3077,15#2004060#66028#2_29
3,2021-10-14 14:48:56.000,Аптека 2,2000200168768,1,0,54,54,15#2004107#66031#2_57
4,2021-10-20 11:09:39.000,Аптека 2,2000200226314,101,0,1733,1733,15#2004192#66037#2_16
...,...,...,...,...,...,...,...,...
37352,2022-06-09 20:45:32.000,Аптека 11,2000200244974,32,0,1341,1341,15#18001790#66269#18_120
37353,2022-06-09 20:55:32.000,Аптека 11,2000200239246,38,0,1445,1445,15#18001790#66269#18_123
37354,2022-06-09 20:59:41.000,Аптека 11,2000200238867,57,0,1912,1912,15#18001790#66269#18_126
37355,2022-06-09 21:07:59.000,Аптека 11,2000200165811,2,0,278,278,15#18001790#66269#18_129
37356,2022-06-09 21:49:45.000,Аптека 11,2000200241331,2,0,290,290,15#18001790#66269#18_137

In [5]:
df.shape

(37357, 8)

In [10]:
df['datetime'] = pd.to_datetime(df['datetime'])
df

,datetime,shop,card,bonus_earned,bonus_spent,summ,summ_with_disc,doc_id
0,2021-07-13 12:56:09,Аптека 2,2000200195023,51,0,3400,3400,15#2002741#65938#2_29
1,2021-07-30 10:42:00,Аптека 2,2000200193494,57,0,747,747,15#2002972#65955#2_5
2,2021-10-11 12:55:23,Аптека 2,2000200199106,92,253,3077,3077,15#2004060#66028#2_29
3,2021-10-14 14:48:56,Аптека 2,2000200168768,1,0,54,54,15#2004107#66031#2_57
4,2021-10-20 11:09:39,Аптека 2,2000200226314,101,0,1733,1733,15#2004192#66037#2_16
...,...,...,...,...,...,...,...,...
37352,2022-06-09 20:45:32,Аптека 11,2000200244974,32,0,1341,1341,15#18001790#66269#18_120
37353,2022-06-09 20:55:32,Аптека 11,2000200239246,38,0,1445,1445,15#18001790#66269#18_123
37354,2022-06-09 20:59:41,Аптека 11,2000200238867,57,0,1912,1912,15#18001790#66269#18_126
37355,2022-06-09 21:07:59,Аптека 11,2000200165811,2,0,278,278,15#18001790#66269#18_129
37356,2022-06-09 21:49:45,Аптека 11,2000200241331,2,0,290,290,15#18001790#66269#18_137

In [11]:
df = df.sort_values(['card', 'datetime'])
df

,datetime,shop,card,bonus_earned,bonus_spent,summ,summ_with_disc,doc_id
319,2021-07-21 17:45:28,Аптека 2,001848d0-e56a-412e-be0a-423dfa0e564f,17,54,586,586,15#2002856#65946#2_89
998,2021-07-28 18:15:11,Аптека 2,001848d0-e56a-412e-be0a-423dfa0e564f,2,0,96,96,15#2002946#65953#2_79
1017,2021-07-28 20:56:24,Аптека 2,001848d0-e56a-412e-be0a-423dfa0e564f,42,0,1410,1410,15#2002946#65953#2_114
8492,2021-10-08 12:16:55,Аптека 2,001848d0-e56a-412e-be0a-423dfa0e564f,31,10,1035,1035,15#2004031#66025#2_29
33907,2022-05-12 18:09:42,Аптека 2,001848d0-e56a-412e-be0a-423dfa0e564f,14,0,489,489,15#2003017#66241#2_80
...,...,...,...,...,...,...,...,...
23140,2022-02-08 10:06:37,Аптека 2,ffd93478-ad6d-494f-a6ab-f7f0c8058488,0,12,66,66,15#2000658#66148#2_6
25803,2022-03-02 16:19:43,Аптека 2,ffd93478-ad6d-494f-a6ab-f7f0c8058488,6,0,619,619,15#2001150#66170#2_76
352,2021-07-22 09:28:01,Аптека 1,ffe736c6-bba4-4578-99df-e1d9846c44c4,3,82,1522,1522,15#13002389#65947#13_12
22470,2022-02-03 15:36:20,Аптека 1,ffe736c6-bba4-4578-99df-e1d9846c44c4,10,0,344,344,15#13000399#66143#13_94
29036,2022-03-30 18:51:21,Аптека 1,ffe736c6-bba4-4578-99df-e1d9846c44c4,47,0,1563,1563,15#13001230#66198#13_133

In [12]:
max(df['datetime'])

Timestamp('2022-06-09 21:49:45')

In [15]:
df2 = df.groupby('card').agg(
    purchase_sum = ('summ_with_disc', 'sum'),
    purchase_amount = ('summ_with_disc', 'count'),
    last_purchase = ('datetime', 'last')
).reset_index()
df2

,card,purchase_sum,purchase_amount,last_purchase
0,001848d0-e56a-412e-be0a-423dfa0e564f,4027,6,2022-05-14 17:24:09
1,001cb0a0-e62e-47a9-995e-599bdc7f8750,5516,11,2022-05-13 10:22:40
2,00572591-c154-4b9f-83e4-3ce5b00bf9c8,557,1,2021-10-08 13:07:02
3,00625996-f49f-4863-8132-40d08e99b2da,4755,4,2022-04-14 19:48:14
4,00703805-f16d-4b83-b7ad-affb2736aa0d,1555,1,2022-05-25 17:34:07
...,...,...,...,...
9265,ff9695c5-6e8c-4446-adc6-944b2731b8f7,559,1,2021-12-19 16:21:55
9266,ffbf9d44-679e-412a-9927-ac6ce80c49a2,539,1,2021-08-27 14:26:45
9267,ffd22196-662c-4266-b3be-024a42cad78b,2052,3,2022-06-05 18:23:01
9268,ffd93478-ad6d-494f-a6ab-f7f0c8058488,2294,7,2022-03-02 16:19:43
9269,ffe736c6-bba4-4578-99df-e1d9846c44c4,3429,3,2022-03-30 18:51:21

In [16]:
df2['days_since_last_purchase'] = (max(df['datetime']) - df2['last_purchase']).dt.days
df2

,card,purchase_sum,purchase_amount,last_purchase,days_since_last_purchase
0,001848d0-e56a-412e-be0a-423dfa0e564f,4027,6,2022-05-14 17:24:09,26
1,001cb0a0-e62e-47a9-995e-599bdc7f8750,5516,11,2022-05-13 10:22:40,27
2,00572591-c154-4b9f-83e4-3ce5b00bf9c8,557,1,2021-10-08 13:07:02,244
3,00625996-f49f-4863-8132-40d08e99b2da,4755,4,2022-04-14 19:48:14,56
4,00703805-f16d-4b83-b7ad-affb2736aa0d,1555,1,2022-05-25 17:34:07,15
...,...,...,...,...,...
9265,ff9695c5-6e8c-4446-adc6-944b2731b8f7,559,1,2021-12-19 16:21:55,172
9266,ffbf9d44-679e-412a-9927-ac6ce80c49a2,539,1,2021-08-27 14:26:45,286
9267,ffd22196-662c-4266-b3be-024a42cad78b,2052,3,2022-06-05 18:23:01,4
9268,ffd93478-ad6d-494f-a6ab-f7f0c8058488,2294,7,2022-03-02 16:19:43,99
9269,ffe736c6-bba4-4578-99df-e1d9846c44c4,3429,3,2022-03-30 18:51:21,71